{% extends 'base.html' %}

{% comment %} {% if user.is_authenticated %}
    <form method="POST" action="{% url "article"%}" class="form">
        {% csrf_token %}
        <input type="hidden" value="{{article.author}}" name="article.author">
        댓글 작성 : <input type="text" name="content"></input>
        <button data-dismiss="modal" type="submit">작성</button>
    </form>
{%endif%} {% endcomment %}
{% block content %}
<br>
    <hr>
        <div class="article">
            <div class="date">{{ article.date }} | author : <strong>{{ article.author }}</strong></div>
            <h1>{{ article.title|linebreaks }}</h1>
            <p>{{ article.content|linebreaks }}</p>
        </div>
        <form method="POST" action="">
            {% csrf_token %}
            {% if user.is_authenticated %}
                <button type="submit" name="up" value="{{article.pk}}">
                up : {{article.upvotes.count}}{{article.modle.upvotes.count}}</button>
            {%else%}
                <button>up : {{article.upvotes.count}}</button>
            {%endif%}
            {% if user.is_authenticated %}
                <button type="submit" name="down" value="{{article.pk}}">
                down : {{article.downvotes.count}}{{article.modle.downvotes.count}}</button>
            {%else%}
                <button>down : {{article.downvotes.count}}</button>
            {%endif%}
            {% if user.is_authenticated %}
            <button type="submit" name="delete" value="{{article.pk}}">
                Delete</button>
            {%else%}
            <button>Delete</button>
            {%endif%}
        </form>
        <form method="POST" action="" class="form">
        {% csrf_token %}
        {{ comment }}
        <button data-dismiss="model" type="submit" value="submit">comment</button>
         </form>

        <hr>
{%endblock content%}
